html {
  --green: #50E3C2;
  --purple: #572EE5;
  --gray: #F3F5F8;
  --background: #FFF;
  --trending_background: #F3F5F8;
  --main_text_color: #572EE5;
  --small_text_color: #000;
  --drawer_background: #572EE5;
  --body_border: #572EE5;
  --fancy_border: #572EE5;
  --logo-mobile: url("../../assets/logo-mobile.svg");
  --logo-desktop: url("../../assets/logo-desktop.svg");
  --burger: url("../../assets/burger.svg");
  --close-burger: url("../../assets/close.svg");
  --icon_facebook: url("../../assets/icon_facebook.svg");
  --icon_facebook_hover: url("../../assets/icon_facebook_hover.svg");
  --icon_instagram: url("../../assets/icon_instagram.svg");
  --icon_instagram_hover: url("../../assets/icon_instagram_hover.svg");
  --icon_link: url("../../assets/icon_max.svg");
  --icon_link_hover: url("../../assets/icon_max_hover.svg");
  --icon_max: url("../../assets/icon_max.svg");
  --icon_max_hover: url("../../assets/icon_max_hover.svg");
  --icon_mis-gifos: url("../../assets/icon_max_hover.svg");
  --icon_mis-gifos-sin-contenido: url("../../assets/icon_max_hover.svg");
  --icon_search: url("../../assets/icon_search.svg");
  --icon_search-suggestion: url("../../assets/icon_search-suggestion.svg");
  --icon_trash: url("../../assets/icon_trash.svg");
  --icon_trash_hover: url("../../assets/icon_trash_hovers.svg");
  --icon_trash: url("../../assets/icon_search.svg");
  --icon_trash-suggestion: url("../../assets/icon_search-suggestion.svg");
  --ok: url("../../assets/ok.svg");
  --paso-a-paso: url("../../assets/paso-a-paso.svg");
  --paso-a-pas-o_hover: url("../../assets/paso-a-paso_hover.svg");
  --camara: url("../../assets/icon_camara.svg");
  --pelicula: url("../../assets/icon_pelicula.svg");
  --crear: url("../../assets/button-crear-gifo.svg");
  --crear-active: url("../../assets/CTA-crear-gifo-active.svg");
  --crear_hover: url("../../assets/CTA_crear_gifo_hover.svg");
}

html[data-theme='dark'] {
  --background: #37383C;
  --trending_background: #222326;
  --main_text_color: #FFF;
  --small_text_color: #FFF;
  --drawer_background: #000;
  --body_border: #000;
  --fancy_border: #FFF;
  --logo-mobile: url("../../assets/logo-mobile-modo-noct.svg");
  --logo-desktop: url("../../assets/logo-modo-noc.svg");
  --burger: url("../../assets/burger-modo-noct.svg");
  --close-burger: url("../../assets/close-modo-noc.svg");
  --icon_facebook: url("../../assets/icon_facebook_noc.svg");
  --icon_instagram: url("../../assets/icon_instagram_noc.svg");
  --icon_search: url("../../assets/icon_search-modo-noc.svg");
  --paso-a-paso: url("../../assets/paso-a-paso.svg");
  --paso-a-paso_hover: url("../../assets/paso-a-paso_hover.svg");
  --camara: url("../../assets/icon_camara_modo_noc.svg");
  --pelicula: url("../../assets/icon_pelicula_modo_noc.svg");
  --crear: url("../../assets/CTA-crear-gifo-modo-noc.svg");
  --crear-active: url("../../assets/CTA-crear-gifo-active-modo-noc.svg");
  --crear_hover: url("../../assets/CTA-crear-gifo-hover-modo-noc.svg");
}

html.themeTransition,
html.themeTransition *,
html.themeTransition *:before,
html.themeTransition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

* {
  color: var(--main_text_color);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--background);
  min-height: 100vh;
}

.container {
  padding-left: 21px;
  padding-right: 21px;
}

.index {
  border-top: 5px solid var(--body_border);
  border-bottom: 5px solid var(--body_border);
}

a {
  text-decoration: none;
}

@media (min-width: 1440px) {
  .container {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    max-width: 1130px;
    width: 1130px;
  }
}

@media (max-width: 1023px) {
  header .links {
    display: none;
  }
  .drawer {
    background-color: var(--drawer_background);
    opacity: .9;
    position: fixed;
    top: 95px;
    left: 0;
    width: 150vw;
    height: 40vh;
    border-radius: 0 0 50% 50%;
    z-index: 1000;
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
    -webkit-transition: height .8s ease-in-out, -webkit-transform .8s ease-in-out;
    transition: height .8s ease-in-out, -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out, height .8s ease-in-out;
    transition: transform .8s ease-in-out, height .8s ease-in-out, -webkit-transform .8s ease-in-out;
  }
  .drawer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 17px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  .drawer .links a {
    font-size: 15px;
    color: #FFF;
    font-weight: bold;
    line-height: 60px;
  }
  .drawer .links .drawer-line {
    width: 50px;
    border-color: #999;
  }
  .visible {
    -webkit-transform: translateX(-16.66%);
            transform: translateX(-16.66%);
    height: 120vh;
  }
}

.first-stripe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 95px;
}

.first-stripe .logo, .first-stripe nav {
  margin: unset;
}

.logo {
  background-image: var(--logo-mobile);
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: auto;
  padding-top: 48.8px;
}

.search-bundle {
  margin: 30px auto;
}

h1 {
  font-size: 25px;
  color: auto;
  font-weight: medium;
  line-height: 33px;
  text-align: center;
  width: 286px;
}

h1 br {
  display: none;
}

#gifos-green {
  color: var(--green);
}

.happy-dudes {
  width: 72%;
  max-width: 400px;
}

.search-border {
  border: 1px solid var(--fancy_border);
  border-radius: 25px;
  line-height: 50px;
  max-width: 550px;
}

.search-border input {
  font-size: 1rem;
  color: #6B7989;
  font-weight: 400;
  line-height: 30px;
  border: none;
  font-family: "Roboto";
  width: 75%;
  max-width: 450px;
  background-color: var(--background);
  padding-bottom: 16px;
  border-bottom: 1px solid #9CAFC3;
}

.search-border::-webkit-input-placeholder {
  font-family: "Roboto";
}

.search-border #icon_search {
  display: initial;
}

.search-border #icon_close {
  display: none;
}

.search-border .one-suggestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  height: 2rem;
}

.search-border .one-suggestion:first-child {
  margin-top: 14px;
}

.search-border .one-suggestion:last-child {
  margin-bottom: 18px;
}

.search-border .one-suggestion img {
  margin: 0;
  height: 1rem;
  margin-left: 23.36px;
}

.search-border .one-suggestion p {
  margin: 0;
  text-align: left;
  margin-left: 13px;
  font-size: 1rem;
  color: #9CAFC3;
  font-weight: 400;
  line-height: 19px;
  font-family: "Roboto";
}

@media (min-width: 1024px) {
  .drawer {
    display: none;
  }
  .drawer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .first-stripe {
    margin-bottom: 76px;
  }
  header .first-stripe .logo {
    background-image: var(--logo-desktop);
    background-size: contain;
    background-repeat: no-repeat;
    width: 65px;
    height: auto;
    padding-top: 59.1px;
  }
  header .first-stripe .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .first-stripe a {
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .8125rem;
  }
  header .first-stripe a:hover {
    border-bottom: 2px solid var(--green);
  }
  header .first-stripe a:active {
    color: #9CAFC3;
    border-bottom: unset;
  }
  header .first-stripe #crear {
    background-image: var(--crear);
    display: inline-block;
    cursor: pointer;
    width: 54px;
    height: 54px;
    border-radius: 50px;
    border: 1px solid var(--purple);
  }
  header .first-stripe #crear:active {
    background-image: var(--crear_active);
    border: 1px solid #9CAFC3;
    background-color: 1px solid #9CAFC3;
  }
  header .first-stripe #crear:hover {
    background-image: var(--crear_hover);
    border: 1px solid #9CAFC3;
  }
  header .first-stripe nav img {
    display: none;
  }
  header h1 {
    font-size: 35px;
    color: auto;
    font-weight: bold;
    line-height: 50px;
    width: unset;
  }
  header h1 br {
    display: unset;
  }
}

.search-results #search-argument {
  font-size: 25px;
  color: auto;
  font-weight: bold;
  line-height: 40px;
  text-transform: capitalize;
}

.search-results #results-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(50% - 11px) calc(50% - 11px);
      grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  -ms-grid-rows: 120px 120px 120px 120px 120px 120px;
      grid-template-rows: 120px 120px 120px 120px 120px 120px;
  grid-column-gap: 20px;
  grid-row-gap: 25px;
  padding: 38px 0 79px;
}

.search-results .result-placeholder {
  background-position: center center;
  background-size: cover;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.search-results .result-placeholder:hover .overlay {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.search-results .result-placeholder::before {
  content: "";
  display: block;
  padding-bottom: 76%;
}

.search-results #try-again, .search-results #ouch-img {
  display: none;
}

.search-results #view-more {
  border: 1px solid var(--fancy_border);
  border-radius: 25px;
  line-height: 50px;
  font-size: 13px;
  color: auto;
  font-weight: bold;
  line-height: auto;
  width: 34%;
  margin-bottom: 79px;
}

.search-results .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(87, 46, 229, 0.7);
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
  opacity: 0;
  -webkit-transition: opacity .6s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: opacity .6s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out, opacity .6s ease-in-out;
  transition: transform .4s ease-in-out, opacity .6s ease-in-out, -webkit-transform .4s ease-in-out;
}

.search-results .action-icons {
  width: 100%;
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-results .action-icon {
  margin: unset;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-size: contain;
}

.search-results .action-icon:nth-child(1) {
  background-image: url("../../assets/icon_fav.svg");
}

.search-results .action-icon:nth-child(1):hover {
  background-image: url("../../assets/icon_fav_hover.svg");
}

.search-results .action-icon:nth-child(2) {
  background-image: url("../../assets/icon_download.svg");
}

.search-results .action-icon:nth-child(2):hover {
  background-image: url("../../assets/icon_download_hover.svg");
}

.search-results .action-icon:nth-child(3) {
  background-image: url("../../assets/icon_max.svg");
}

.search-results .action-icon:nth-child(3):hover {
  background-image: url("../../assets/icon_max_hover.svg");
}

.search-results .gif-title {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40%;
}

.search-results .gif-title .username, .search-results .gif-title .title {
  font-family: "Roboto";
  text-align: left;
  margin-left: 13px;
}

.search-results .gif-title .username {
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  line-height: 18px;
}

.search-results .gif-title .title {
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  line-height: 19px;
}

.search-results .expandable {
  -webkit-transition: width .5s;
  transition: width .5s;
  width: 85vw;
}

.search-results #no-favorites {
  font-size: 22px;
  color: var(--green);
  max-width: 430px;
}

@media (min-width: 1024px) {
  .search-results #results-grid {
    -ms-grid-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
        grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    -ms-grid-rows: 200px 200px 200px;
        grid-template-rows: 200px 200px 200px;
    grid-column-gap: 20px;
    grid-row-gap: 25px;
  }
  .search-results #view-more {
    width: 127px;
  }
}

.trending-stuff-title {
  font-size: 16px;
  color: auto;
  font-weight: bold;
  line-height: 25px;
}

.trending-stuff {
  font-size: 14px;
  color: auto;
  font-weight: 500;
  line-height: 25px;
  height: 50px;
  width: 225px;
  text-transform: capitalize;
  margin-bottom: 50px;
}

.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--trending_background);
  padding-top: 46px;
  padding-bottom: 82px;
}

.trending .trending-gifos {
  font-size: 20px;
  color: auto;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 7px;
}

.mira {
  font-size: 16px;
  color: var(--small_text_color);
  font-weight: 400;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.carrousel-item img {
  max-width: 65%;
}

.carousel {
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  width: 1000px;
  overflow: hidden;
}

.inner-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  justify-content: center;
}

.inner-create .camera {
  margin: 0;
  background-image: var(--camara);
  height: 150px;
  width: 114px;
  background-size: contain;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.inner-create .shine {
  margin: 0;
  padding: 0;
  background-image: url("../../assets/element-luz-camara.svg");
  background-repeat: no-repeat;
  height: 115px;
  width: 75px;
  background-size: contain;
  -webkit-animation: blinking 5s infinite;
          animation: blinking 5s infinite;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

@-webkit-keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.inner-create .gif-captor {
  position: relative;
}

.inner-create .gif-captor-container {
  position: relative;
  margin: 0;
  width: 43rem;
  height: 390px;
  border: 1px solid var(--fancy_border);
  overflow: hidden;
}

.inner-create gif-captor-video-container {
  position: absolute;
  top: 15px;
}

.inner-create #gif-captor-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.inner-create .corner-right, .inner-create .corner-left {
  height: 25px;
  width: 27px;
  display: inline-block;
  position: absolute;
}

.inner-create .corner-right {
  border-right: 1px solid var(--green);
  right: 1.5rem;
}

.inner-create .corner-left {
  border-left: 1px solid var(--green);
  left: 1.5rem;
}

.inner-create .corner-top {
  border-top: 1px solid var(--green);
  top: 1.5rem;
}

.inner-create .corner-bottom {
  border-bottom: 1px solid var(--green);
  bottom: 1.5rem;
}

.inner-create .create-text {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

.inner-create .create-text-subtitle {
  font-size: 16px;
  color: var(--small_text_color);
  font-weight: 400;
  line-height: 23px;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.film {
  background-image: var(--pelicula);
  height: 88px;
  width: 140px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem auto;
  width: 12rem;
}

.timer {
  position: absolute;
  right: 0;
  bottom: 2.25rem;
  font-size: .9375rem;
  font-weight: bold;
  display: none;
}

.film-stage {
  font-family: Roboto;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border: 1px solid;
  border-color: var(--fancy-border);
  margin-right: 1.5rem;
}

.film-stage:last-of-type {
  margin-right: 0;
}

.activated {
  color: #FFF;
  background-color: var(--purple);
}

.start-border {
  border: 3px solid;
  border-color: var(--fancy-border);
  border-radius: 3px;
  width: 110%;
  -webkit-transform: translateX(-5%);
          transform: translateX(-5%);
}

#start-film {
  border: 1px solid var(--fancy_border);
  border-radius: 25px;
  line-height: 50px;
  font-size: 13px;
  color: auto;
  font-weight: bold;
  line-height: auto;
  display: block;
  margin-top: 1.25rem;
  width: 127px;
}

@media (max-width: 1443px) {
  #start-film {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0 1rem 0;
}

footer .share-width {
  font-family: "Roboto";
  color: var(--small_text_color);
}

footer .social-media {
  margin-top: 24px;
  margin-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 20%;
}

a footer .social-media:hover {
  color: var(--purple);
}

footer .copyright {
  font-size: 14px;
  color: var(--small_text_color);
  font-weight: 400;
  line-height: 20px;
  font-family: "Roboto";
}

@media (min-width: 1024px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer .social-media {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 5rem;
    margin-left: 1rem;
  }
  footer .copyright {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
  }
}
/*# sourceMappingURL=main.css.map */