.carousel-container {
  position: relative;
  @include behave-horizontal;
  flex-wrap: nowrap;
  max-width: 1300px;
  
}

.carousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 16px auto;
  overflow: hidden;
  max-width: 1260px;

  &__images {
    position: relative;
    display: flex;
    transform: translateX(0);
    transition: transform 0.35s;

    div {
      position: relative;
      margin-right: 30px;
      width: 357px;
      height: 275px;
      background-size: cover;
      background-repeat: no-repeat;

      .overlay {
        display: block;
        background-color: transparentize(#572EE5, .3);
        opacity: 0;
        transition: opacity .4s ease-in-out;
      }

      .expand-overlay {
        display: none;
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }

      .action-icons {
        width: 40%;
        @include right-on-top;
        right:0;
        margin-right: 0;
        padding-top: 10px;
      }
    
      .action-icon{
        @include action-icon;
    
        &:nth-child(1) {
          background-image: url("../assets/icon_fav.svg");
          &:hover {
            background-image: url("../assets/icon_fav_hover.svg");
          }
        }
        &:nth-child(2) {
          background-image: url("../assets/icon_download.svg");
          &:hover {
            background-image: url("../assets/icon_download_hover.svg");
          }
        }
        &:nth-child(3) {
          background-image: url("../assets/icon_max.svg");
          &:hover {
            background-image: url("../assets/icon_max_hover.svg");
          };
        }
      }
    
      .gif-title{
        @include overlay-baby;
        bottom: 0;
        height: 30%;
    
        .username, .title {
          font-family: $normal;
          text-align: left;
          margin-left: 13px;
        }
    
        .username {
          @include word-bundle(.9375rem, #FFF, 400, 18px);
        }
    
        .title {
          @include word-bundle(1rem, #FFF, bold, 19px);
        }
      } 
    }
  }

  &__button {
    display: block;
    background: var(--purple);
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    height: 40px;
    min-width: 40px;
    transition: opacity 0.25s;
    z-index: 1;

    &.previous {
      margin-right: 25px;
    }

    &.next {
      margin-left: 25px;
    }

    &:hover {
      opacity: .5;
    }
  }
}

@media(max-width:768px) {

  .carousel-container {
    width: 100vw;
  }
  .carousel {
    overflow: scroll;
  
  .carousel__button {
    display: none;
  }
  
  &__images {
    position: relative;
    display: flex;
    transform: translateX(0);
    transition: transform 0.35s;

    div {
      position: relative;
      margin-right: 30px;
      width: 357px;
      height: 275px;
      background-size: cover;
      background-repeat: no-repeat;

        .overlay {
          display:none;
        }
        .expand-overlay {
          display: block;
        }

      
    }
  }
  }
}

@media(max-width:1240px) {
  .carousel-container {
    max-width: 90vw;
  }
}