.inner-create {
  position: relative;

  .camera-shine {
    position: absolute;
    top: 195px;
    height: 150px;
    transform: translateY(-50%);
    .camera { 
      position: absolute;
      background-image: var(--camara);
      height: 150px;
      width: 114px;
      background-size: contain;
    }
    .shine {
      position: absolute;
      left: 114px;
      top: 20px;
      margin: 0;
      padding: 0;
      background-image: url("../../assets/element-luz-camara.svg");
      background-repeat: no-repeat;
      height: 115px;
      width: 75px;
      background-size: contain;
      animation: blinking 5s infinite;
    }
  }
  
  @keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }

  .gif-captor {
    position: relative;
  }

  .gif-captor-container  {
    position: relative;
    margin: 0 auto;
    width: 688px;
    height: 390px;
    border: 1px solid var(--fancy_border);
    overflow: hidden;
  }


  #gif-captor-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
  }

.corner-right, .corner-left {
  height: 25px;
  width: 27px;
  display: inline-block;
  position: absolute;
}
.corner-right {
  border-right: 1px solid var(--green);
  right: 1.5rem;
}
.corner-left {
  border-left: 1px solid var(--green);
  left: 1.5rem;
}
.corner-top {
  border-top: 1px solid var(--green);
  top: 1.5rem;
}
.corner-bottom {
  border-bottom: 1px solid var(--green);
  bottom: 1.5rem;
}

.create-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.create-text-subtitle {
  @include word-bundle(16px, var(--small_text_color), 400, 23px) ; 
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.create-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 240px;
  width: 424px;
  background-color: transparentize(#572EE5, .3);
}

.hidden {
  display: none;
}

.loader {
  animation: spin 1s linear infinite;
  position: absolute;
  top: 30%;
  left: 50%;
  // transform: translate(-80%, -10%);
}

@keyframes spin {
  0% { transform: rotate(0); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(360deg); }
}

.subiendo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-family: $title-fonts;
  font-size: 15px;
}

.stopSpin {
  animation: none;
}

margin-bottom: 26px;
}

.film {
  background-image: var(--pelicula);
  position: absolute;
  right:0;
  bottom: 0;
  height: 88px;
  width: 140px;
}

.stages {
  position: relative;
  @include behave-horizontal;
  width: 688px;
  margin: 1.5rem auto;
}

.timer, .repetir-captura {
  display: block;
  position: absolute;
  font-size: .9375rem;
  font-weight: bold;
  right: 0;
  top:50%;
  transform: translateY(-50%);
}

.film-stage {
  font-family: Roboto;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border: 1px solid;
  border-color: var(--fancy-border);
  margin-right: 1.5rem;

  &:last-of-type {
    margin-right: 0;
  }
}

.activated {
  color: #FFF;
  background-color: var(--purple);
}

.start-border {
  border: 4px solid;
  border-color: var(--fancy-border);
  border-radius: 3px;
  width: 795px;
  margin: 0 auto;
}

  #start-film {
    @include fancy-border;
    @include word-bundle(13px, auto, bold, auto);
    display: block;
    margin-top: 1.25rem;
    width: 127px;

    &.disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

.repetir-captura {
  cursor: pointer;
  border-bottom: 2px solid var(--background);
  &:hover {
    border-bottom: 2px solid var(--green);
  }
}


.create-action-icons {
  width: 20%;
  position: absolute;
  margin: 0;
  right: 0;        
}

.create-action-icon {
  margin: unset;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-size: contain;

  &:nth-child(1) {
    background-image: url("../../assets/icon_download.svg");
    &:hover {
      background-image: url("../../assets/icon_download_hover.svg");
    }
  }
  &:nth-child(2) {
    background-image: url("../../assets/icon_link.svg");
    &:hover {
      background-image: url("../../assets/icon_link_hover.svg");
    };
  }
}
