footer {
  @include behave-vertical;
  padding: 3rem 0 1rem 0;

  .share-width {
    font-family: $normal;
    color: var(--small_text_color);
  }

  .social-media {
    margin-top: 24px;
    margin-bottom: 47px;
    display: flex;
    justify-content: space-between;
    width: 20%;
  }

  .copyright {
    @include word-bundle(14px, var(--small_text_color), 400, 20px);
    font-family: $normal;
  }


}

