.fullscreen-view{

  display: none;

  background-color: var(--background);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1100;
  // display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  .content-container {
      width: 695px;
  }

  .info-container {
      @include behave-horizontal;
      justify-content: space-between;
      height: 80px;
  }

  .expanded-gif-info {
      margin: unset;
      flex-grow: 1;

      h3, h4 {
        text-align: left;
      }
  }

  .expand-close {
      position: absolute;
      top: -6px;
      right: 0;      
  }

  .action-icons {
    @include overlay-baby;
    @include behave-horizontal;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .action-icon{
    @include action-icon;
    border: 1px solid #9CAFC3;
    border-radius: 6px;

    &:nth-child(2) {
      background-image: url("../assets/icon_fav.svg");
      &:hover {
        background-image: url("../assets/icon_fav_hover.svg");
      }
    }

    &:nth-child(3) {
      background-image: url("../assets/icon_download.svg");
      &:hover {
        background-image: url("../assets/icon_download_hover.svg");
      }
      margin-right: 0;
    }
  }

  .fullscreen-gif{
      margin-top: 80px;
      width: 695px;
      height: 385px;
      background-repeat: no-repeat;
      background-size: cover;
  }

  .expanded-action-icons {
    position: relative;
    align-self: center;
    color: red;
  }

    .expanded-title {
      @include word-bundle(1rem, var(--small_text_color), bold, auto);
      font-family: $normal;
    }
    .expanded-username {
      @include word-bundle(0.9375rem, var(--small_text_color), lighter, auto);
      font-family: $normal;
    }
  }

  @media(min-width: 769px) and (max-width: 1439px) {

    .fullscreen-view {
      .expand-close {
        top: 150px;
        right:50px;
      }
    }

  } 

  @media(max-width: 768px) {

    .fullscreen-view {

      .container {
        width: calc(100% - 42px);
      }

      .content-container {
        width: 90%;
        position: relative;

        .fullscreen-gif {
          max-width: 318px !important;
          height: 245px;
        }

        .expand-close {
          top: -78px;
          right: -15px;
        }
      }
    }
      
  }
