.first-stripe {
  @include behave-horizontal;
  justify-content: space-between;
  height: 95px;

  .logo, nav {
    margin: unset;
  }
}

.logo {
        background-image: var(--logo-mobile);
        background-size: contain;
        background-repeat: no-repeat;
        width: 60px;
        height: auto;
        padding-top: 48.8px /* (img-height / img-width * container-width) */
}

.search-bundle {
  margin: 30px auto;
}

h1 {
  @include word-bundle(1.5625rem, auto, medium, 33px);
  text-align: center;
  width: 286px;

  br {
    display: none;
  }
}

#gifos-green {
  color: var(--green);
}

.happy-dudes {
  width: 72%;
  max-width: 400px;
}

.search-border {

  @include fancy-border;
  max-width: 550px;
  position: relative;

  input {
    @include word-bundle(1rem, #6B7989, 400, 30px);
    border: none;
    font-family: $normal;
    width: 75%;
    max-width: 450px;
    background-color: var(--background);
    padding-bottom: 16px;
    border-bottom: 1px solid var(--light-gray);
  }

  &::-webkit-input-placeholder {
    font-family: $normal;
  }

  #icon_search {
    display: initial;
  }

  #icon_search_sm {
    display: none;
    position: absolute;
    left: 0;
  }

  #icon_search_active {
    display: inline;
  }

  #icon_close {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  .one-suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    height: 2rem;

    &:first-child {
      margin-top: 14px;
    }

    &:last-child {
      margin-bottom: 18px;
    }

    img {
      margin: 0;
      height: 1rem;
      margin-left: 23.36px;
    }

    p {
      margin: 0;
      text-align: left;
      margin-left: 13px;
      @include word-bundle(1rem, var(--light-gray), 400, 19px);
      font-family: $normal;
    }
  }
}

@media(min-width: 1024px){

      .drawer {
        display: none;
        .links {
          // display: none;
          display: flex;

        }
      }

  header {
  
    .first-stripe {
      margin-bottom: 76px;
      
      .logo {
        // There is a very nice and cool way to make a background image work like an img element so it adjust its height automatically. You need to know the image width and height ratio. Set the height of the container to 0 and set the padding-top as percentage based upon the image ratio.
        // It will look like the following:

        background-image: var(--logo-desktop);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: auto;
        padding-top: 59.1px /* (img-height / img-width * container-width) */
        }

        .links {
          display: flex;
          align-items: center;
        }

      a {
        margin-left: 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125rem;
        border-bottom: 2px solid var(--background);
        &:hover {
          border-bottom: 2px solid var(--green);
        }

        &:active {
          color: var(--light-gray);
          border-bottom: unset;
        }

      }

      #crear {
        background-image: var(--crear);
        display: inline-block;
        cursor: pointer;
        width: 54px;
        height: 54px;
        border-radius: 50px;
        border: 1px solid var(--purple);
        background-color: var(--background);

        &:active {
          background-image: var(--crear_active);
          border: 1px solid var(--light-gray);
          background-color: 1px solid var(--light-gray);
        }
        
        &:hover {
          background-image: var(--crear_hover);
          border: 1px solid var(--light-gray);
        }
          
      }

      nav img {
        display: none;
      }
    }

    h1 {
      @include word-bundle(2.1875rem, auto, bold, 50px);
      width: unset;
      br  {
        display: unset;
      }
    }
  }
} 

@media(max-width: 580px) {
  .search-border {
    #icon_search {
      display: none;
    }
  }
  }

@media(min-width: 590px) {
.search-border {
  #icon_search_active {
    display: none;
  }
}
}