.first-stripe {
  @include behave-horizontal;
  justify-content: space-between;
  height: 95px;

  .logo, nav {
    margin: unset;
  }
}

.search-bundle {
  margin: 30px auto;
}

h1 {
  @include word-bundle(25px, auto, medium, 33px);
  text-align: center;
  width: 286px;

  br {
    display: none;
  }
}

#gifos-green {
  color: var(--green);
}

.happy-dudes {
  width: 72%;
  max-width: 400px;
}

.search-border {

  @include fancy-border;
  max-width: 550px;

  input {
    @include word-bundle(1rem, #6B7989, 400, 50px);
    border: none;
    font-family: $normal;
    width: 75%;
    max-width: 450px;
    background-color: var(--background);
  }

  &::-webkit-input-placeholder {
    font-family: $normal;
  }

  #search-icon {
    display: initial;
  }

  #close-search {
    display: none;
  }
}

@media(min-width: 1024px){

      .drawer {
        display: none;
        .links {
          display: none;
        }
      }

  header {
  
    .first-stripe {
      margin-bottom: 76px;

      a {
        margin-left: 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125rem;
      }

      nav img {
        display: none;
      }
    }

    h1 {
      @include word-bundle(35px, auto, bold, 50px);
      width: unset;
      br  {
        display: unset;
      }
    }
  }
} 