.first-stripe {
  @include behave-horizontal;
  justify-content: space-between;
  height: 95px;

  .logo, nav {
    margin: unset;
  }
}

.logo {
        background-image: var(--logo-mobile);
        background-size: contain;
        background-repeat: no-repeat;
        width: 60px;
        height: auto;
        padding-top: 48.8px /* (img-height / img-width * container-width) */
}

.search-bundle {
  margin: 30px auto;
}

h1 {
  @include word-bundle(25px, auto, medium, 33px);
  text-align: center;
  width: 286px;

  br {
    display: none;
  }
}

#gifos-green {
  color: var(--green);
}

.happy-dudes {
  width: 72%;
  max-width: 400px;
}

.search-border {

  @include fancy-border;
  max-width: 550px;

  input {
    @include word-bundle(1rem, #6B7989, 400, 50px);
    border: none;
    font-family: $normal;
    width: 75%;
    max-width: 450px;
    background-color: var(--background);
  }

  &::-webkit-input-placeholder {
    font-family: $normal;
  }

  #search-icon {
    display: initial;
  }

  #close-search {
    display: none;
  }
}

@media(min-width: 1024px){

      .drawer {
        display: none;
        .links {
          display: none;
        }
      }

  header {
  
    .first-stripe {
      margin-bottom: 76px;

      .logo {
        // There is a very nice and cool way to make a background image work like an img element so it adjust its height automatically. You need to know the image width and height ratio. Set the height of the container to 0 and set the padding-top as percentage based upon the image ratio.
        // It will look like the following:

        background-image: var(--logo-desktop);
        background-size: contain;
        background-repeat: no-repeat;
        width: 65px;
        height: auto;
        padding-top: 59.1px /* (img-height / img-width * container-width) */
        }

      a {
        margin-left: 50px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: .8125rem;
        &:hover {
          border-bottom: 2px solid var(--green)
        }
      }

      nav img {
        display: none;
      }
    }

    h1 {
      @include word-bundle(35px, auto, bold, 50px);
      width: unset;
      br  {
        display: unset;
      }
    }
  }
} 