* {
  color: $purple;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
  
}

.container {
  padding-left: 21px;
  padding-right: 21px;
}
  
.index {
  border-top: 5px solid #572EE5;
  border-bottom: 5px solid #572EE5;
}

a {
  text-decoration: none;
}

@media(min-width: 1440px) {
  
.container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  max-width: 1130px;
  width: 1130px;
}

}