html.themeTransition,
html.themeTransition *,
html.themeTransition *:before,
html.themeTransition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

* {
  color: var(--main_text_color);
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0 auto;
}

body {
  background-color: var(--background);
}

.container {
  padding-left: 21px;
  padding-right: 21px;
}
  
.index {
  border-top: 5px solid var(--body_border);
  border-bottom: 5px solid var(--body_border);
}

a {
  text-decoration: none;
}

@media(min-width: 1440px) {
  
.container {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  max-width: 1130px;
  width: 1130px;
}

}