* {
  color: $purple;
  font-family: "Montserrat", sans-serif !important;
  text-align: center;
  margin: 0 auto !important;
  
}
  
.index {
  border-top: 5px solid #572EE5;
  border-bottom: 5px solid #572EE5;
}

a {
  text-decoration: none;
}