html {
  --green: #50E3C2;
  --purple: #572EE5;
  --gray: #F3F5F8;

  --background: #FFF;
  --trending_background: #F3F5F8;
  --main_text_color: #572EE5;
  --small_text_color: #000;
  --drawer_background: #572EE5;
  --body_border: #572EE5;
  --fancy_border: #572EE5;

  --logo-mobile: url("../../assets/logo-mobile.svg");
  --logo-desktop: url("../../assets/logo-desktop.svg");
  --burger: url("../../assets/burger.svg");
  --close-burger: url("../../assets/close.svg");

  --icon_facebook: url("../../assets/icon_facebook.svg");
  --icon_facebook_hover: url("../../assets/icon_facebook_hover.svg");

  --icon_instagram: url("../../assets/icon_instagram.svg");
  --icon_instagram_hover: url("../../assets/icon_instagram_hover.svg");

  --icon_link: url("../../assets/icon_max.svg");
  --icon_link_hover: url("../../assets/icon_max_hover.svg");

  --icon_max: url("../../assets/icon_max.svg");
  --icon_max_hover: url("../../assets/icon_max_hover.svg");

  --icon_mis-gifos: url("../../assets/icon_max_hover.svg");
  --icon_mis-gifos-sin-contenido: url("../../assets/icon_max_hover.svg");

  --icon_search: url("../../assets/icon_search.svg");
  --icon_search-suggestion: url("../../assets/icon_search-suggestion.svg");

  --icon_trash: url("../../assets/icon_trash.svg");
  --icon_trash_hover: url("../../assets/icon_trash_hovers.svg");

  --icon_trash: url("../../assets/icon_search.svg");
  --icon_trash-suggestion: url("../../assets/icon_search-suggestion.svg");

  --ok: url("../../assets/ok.svg");

  --paso-a-paso: url("../../assets/paso-a-paso.svg");
  --paso-a-pas-o_hover: url("../../assets/paso-a-paso_hover.svg");

  --camara: url("../../assets/icon_camara.svg");
  --pelicula: url("../../assets/icon_pelicula.svg");

  --crear: url("../../assets/button-crear-gifo.svg");
  --crear-active: url("../../assets/CTA-crear-gifo-active.svg");
  --crear_hover: url("../../assets/CTA_crear_gifo_hover.svg");

  // --path

  
}

html[data-theme='dark'] {
  --background: #37383C;
  --trending_background: #222326;
  --main_text_color: #FFF;
  --small_text_color: #FFF;
  --drawer_background: #000;
  --body_border: #000;
  --fancy_border: #FFF;

  --logo-mobile: url("../../assets/logo-mobile-modo-noct.svg");
  --logo-desktop: url("../../assets/logo-modo-noc.svg");
  --burger: url("../../assets/burger-modo-noct.svg");
  --close-burger: url("../../assets/close-modo-noc.svg");

  --icon_facebook: url("../../assets/icon_facebook_noc.svg");
  --icon_instagram: url("../../assets/icon_instagram_noc.svg");

  --icon_search: url("../../assets/icon_search-modo-noc.svg");

  --paso-a-paso: url("../../assets/paso-a-paso.svg");
  --paso-a-paso_hover: url("../../assets/paso-a-paso_hover.svg");

  --camara: url("../../assets/icon_camara_modo_noc.svg");
  --pelicula: url("../../assets/icon_pelicula_modo_noc.svg");
  
  --crear: url("../../assets/CTA-crear-gifo-modo-noc.svg");
  --crear-active: url("../../assets/CTA-crear-gifo-active-modo-noc.svg");
  --crear_hover: url("../../assets/CTA-crear-gifo-hover-modo-noc.svg");



}


// %hover-btn{
//   color: var(--btn_hover);
//   background-color: var(--main_text_color);
// }
// eso que pasé es para los hovers en los botones
// --btn_hover es White en light y black en dark
