#border-bar {
  display: none;
  border-top: 1px solid var(--light-gray);
  width: 330px;
  height: 2px;
}

#search-argument {
  display: none;
  @include word-bundle(2.1875rem, auto, bold, 40px);
  text-transform: capitalize;
  text-align: center;
  box-sizing: border-box;
  margin-top: 74px;
  margin-bottom: 30px;
}

.search-results {

  #results-grid {
    display: grid;
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-template-rows: 120px 120px 120px 120px 120px 120px; 
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    padding: 38px 0 79px;
  }

  .result-placeholder {
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;

    &:hover {
      .overlay {
        transform: translate(0,0);
        opacity: 1;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: 76%;
    }
  }

  #try-again, #ouch-img {
    display: none;
  }

  #no-results {
    display: none;
    margin-bottom: 149px;
  }

  #try-again {
    margin-top: 29px;
    @include word-bundle(1.375rem, var(--green), nold-weight, 25px)
  }

  #ouch-img {
    margin-top: 109px;
  }

  #view-more, #view-more-favorites, #view-more-my-gifos {
    @include fancy-border;
    @include word-bundle(.8125rem, auto, bold, auto);
    width: 34%;
    margin-bottom: 79px;
  }

    // media query menos de 1024 display none
  .overlay {
    display: none;
    @include right-on-top;
    height: 100%;
    width: 100%;
    background-color: transparentize(#572EE5, .3);
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: transform .4s ease-in-out, opacity .6s ease-in-out;
  }

  // media query menos de 1024 display block
  .expand-overlay {
    @include right-on-top;
    height: 100%;
    width: 100%;
    color: #000;
    opacity: 0;
  }



  .action-icons {
    @include overlay-baby;
    @include behave-horizontal;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .action-icon{
    @include action-icon;

    &:nth-child(1) {
      background-image: url("../assets/icon_fav.svg");
      &:hover {
        background-image: url("../assets/icon_fav_hover.svg");
      }
    }

    &:nth-child(2) {
      background-image: url("../assets/icon_download.svg");
      &:hover {
        background-image: url("../assets/icon_download_hover.svg");
      }
    }
    
    &:nth-child(3) {
      background-image: url("../assets/icon_max.svg");
      &:hover {
        background-image: url("../assets/icon_max_hover.svg");
      };
    }
  }

  .action-icon {
    &.my-gifos-action-icon {
      @include action-icon;
      margin-right: 10px;

      &:nth-child(1) {
        background-image: url("../assets/icon_trash.svg");
        &:hover {
          background-image: url("../assets/icon_trash_hover.svg");
        }
      }

      &:nth-child(2) {
        background-image: url("../assets/icon_download.svg");
        &:hover {
          background-image: url("../assets/icon_download_hover.svg");
        }
      }

      &:nth-child(3) {
        background-image: url("../assets/icon_max.svg");
        &:hover {
          background-image: url("../assets/icon_max_hover.svg");
        };
      }
    }
  }

  .gif-title{
    @include overlay-baby;
    bottom: 0;
    height: 40%;


  .username, .title {
      font-family: $normal;
      text-align: left;
      margin-left: 13px;
    }

    .username {
      @include word-bundle(.9375rem, #FFF, 400, 18px);
    }

    .title {
      @include word-bundle(1rem, #FFF, bold, 19px);
    }
  }

  .expandable {
      background-size: contain;
      z-index: 3000;
  }

  #no-favorites {
    font-size: 1.375rem;
    color: var(--green);
    max-width: 430px;
  }

}

@media(min-width: 1024px) {

  .search-results {
    #results-grid {
      grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
      grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
      grid-column-gap: 20px;
      grid-row-gap: 25px;

      // #results-grid {
        .result-placeholder {
          .overlay {
            display:block;
          }
        }
      // }
   
      .expand-overlay {
        display:none;
      }
    }

    #view-more, #view-more-favorites, #view-more-my-gifos {
      width: 127px;
    }
  }
}
