.search-results {

  #search-argument {
    @include word-bundle(25px, auto, bold, 40px);
    text-transform: capitalize;
  }

  #results-grid {
    display: grid;
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    grid-template-rows: 120px 120px 120px 120px 120px 120px; 
    grid-column-gap: 20px;
    grid-row-gap: 25px;

    padding: 38px 0 79px;
  }

  .result-placeholder {
    background-position: center center;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;

    &:hover {
      .overlay {
        transform: translate(0,0);
        opacity: 1;
      }
    }

    &::before {
      content: "";
      display: block;
      padding-bottom: 76%;
    }
  }

  #try-again, #ouch-img {
    display: none;
  }

  #view-more {
    @include fancy-border;
    @include word-bundle(13px, auto, bold, auto);
    width: 34%;
    margin-bottom: 79px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparentize(#572EE5, .3);
    transform: translate(-100%, -100%);
    opacity: 0;
    transition: transform .4s ease-in-out, opacity .6s ease-in-out;
  }

  .action-icons {
    @include overlay-baby;
    @include behave-horizontal;
    top: 0;
    justify-content: flex-end;
    
  }

  .action-icon{
    margin: unset;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    height: 32px;
    width: 32px;
    background-size: contain;

    &:nth-child(1) {
      background-image: url("../../assets/icon_fav.svg");
      &:hover {
        background-image: url("../../assets/icon_fav_hover.svg");
      }
    }
    &:nth-child(2) {
      background-image: url("../../assets/icon_download.svg");
      &:hover {
        background-image: url("../../assets/icon_download_hover.svg");
      }
    }
    &:nth-child(3) {
      background-image: url("../../assets/icon_max.svg");
      &:hover {
        background-image: url("../../assets/icon_max_hover.svg");
      };
    }
  }

  .gif-title{
    @include overlay-baby;
    bottom: 0;
    height: 40%;


  .username, .title {
      font-family: $normal;
      text-align: left;
      margin-left: 13px;
    }

    .username {
      @include word-bundle(15px, #FFF, 400, 18px);
    }

    .title {
      @include word-bundle(16px, #FFF, bold, 19px);
    }
  }

  .expandable {
      width: 85vw;
  }

  #no-favorites {
    font-size: 22px;
    color: var(--green);
    max-width: 430px;
  }

}

@media(min-width: 1024px) {

  .search-results {

    #results-grid {
      grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
      grid-template-rows: 200px 200px 200px; 
      grid-column-gap: 20px;
      grid-row-gap: 25px;
    }

    #view-more {
      width: 127px;
    }
  }

}