.trending-stuff-title {
  @include word-bundle(16px, auto, bold, 25px);
}

.trending-stuff {
  @include word-bundle(14px, auto, 500, 25px);
  height: 50px;
  width: 225px;
  text-transform: capitalize;
  margin-bottom: 50px;
}


.trending {
  @include behave-vertical;
  background-color: var(--trending_background);
  padding-top: 46px;
  padding-bottom: 82px;

  .trending-gifos {
    @include word-bundle(20px, auto, bold, 30px);
    margin-bottom: 7px;
  }
}

.mira {
  @include word-bundle(16px, var(--small_text_color), 400, 23px);
  font-family: "Roboto", sans-serif;
  text-align: center;
}


.carrousel-item {
  img {
    max-width: 65%;
  }
  
}

