.trending-stuff-title {
  @include word-bundle(1rem, auto, bold, 25px);
}

.trending-stuff {
  @include word-bundle(.875rem, auto, 500, 25px);
  width: 225px;
  text-transform: capitalize;
  margin-bottom: 95px;
}


.trending {
  @include behave-vertical;
  background-color: var(--trending_background);
  padding-top: 46px;
  padding-bottom: 82px;

  .trending-gifos {
    @include word-bundle(1.25rem, auto, bold, 30px);
    margin-bottom: 7px;
  }
}

.mira {
  @include word-bundle(1rem, var(--small_text_color), 400, 23px);
  font-family: "Roboto", sans-serif;
  text-align: center;
}


.carrousel-item {
  img {
    max-width: 65%;
  }
}

