.trending {
  background-color: $gray;
  padding-top: 46px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mira {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
}

.trending-stuff {
  margin: 25px;
  height: 50px;
  width: 225px;
  font-weight: 500;
  text-transform: capitalize;
}

.carrousel-item {
  img {
    max-width: 65%;
  }
  
}

